.gridContenidos{
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    margin-top: 20px;
}

.contenido{
    position: relative;
    width: 33.33%;
    margin-bottom: 10px;

    > a > div {
        position: relative;
        padding: 10px 10px 0 10px;

        &hover {
            opacity: 0.6;
        }
        &:last-of-type{
            padding-top:0px;
            display:flex;
            justify-content: space-between;
        }
        > img {
            width: 100%;
        }
        .discount{
            position: absolute;
            left: 100px;
            bottom: 50px;

        }
        .price {
            font-size: 18px;
          
        }
       
    }
}