@import "~/src/scss/index.scss";

.order {
    background-color: $primary-hover;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;

    &:hover{
        cursor: pointer;
        border: 2px solid $border-secondary;
    }

    > div > span {
        font-size: 12px;
    }
    > p {
        font-weight: bold;
        font-size: 20px;
    }
}